* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Barlow", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-image: url("../images/mobile/image-header.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.header__navbar {
  width: 90%;
  margin: auto;
  padding: 3.6rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header__title {
  font-family: "Fraunces", serif;
  font-size: 4rem;
  font-weight: 900;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .8rem;
  margin: 7.2rem auto 5rem auto;
}

.header__icon {
  margin-bottom: 13rem;
}
