@keyframes bounce {
  20%, 50%, 80%, to{
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  70% {
    transform: translateY(-15px);
  }

  90% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0px);
  }
}